@page
@model List<VacationManager.User>
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Users</h1>
    <button asp-action="Create" asp-controller="User">Create User</button>
    
</div>
