@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Manager of Vacations</h1>
        <a href="C:\Users\VTStanchev18\source\repos\Vacation-Manager\VacationManager MVC\Views\Users\Details.cshtml">
            <span>Users</span>
        </a>
        <br />
        <a href="C:\Users\VTStanchev18\source\repos\Vacation-Manager\VacationManager MVC\Views\Teams\Details.cshtml">
            <span>Teams</span>
        </a>
        <br />
        <a href="C:\Users\VTStanchev18\source\repos\Vacation-Manager\VacationManager MVC\Views\Projects\Details.cshtml">
            <span>Projects</span>
        </a>
        <br />
        <a href="C:\Users\VTStanchev18\source\repos\Vacation-Manager\VacationManager MVC\Views\Vacations\Details.cshtml">
            <span>Vacations</span>
        </a>
        <br />
        <a href="C:\Users\VTStanchev18\source\repos\Vacation-Manager\VacationManager MVC\Views\UserTeams\Details.cshtml">
            <span>Users with their teams</span>
        </a>
</div>
